<ion-pane id="all-repo">
  <ion-view title={{title}}>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons>
        <button class="button back-button buttons button-clear header-item"
                ng-click="goTo();">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button back-button buttons button-clear header-item"
                ng-click="openModal();">
          <i class="icon ion-plus-circled"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <!--<div class="item top-44">-->
      <!--<img class="size-avatar" ng-src="{{participant.image || 'img/GitHub-Icon-01.png'}}">-->
      <!--<div>-->
        <!--<h1 class="profile-name">Repository Name</h1>-->
        <!--<h2>3 Commits</h2>-->
        <!--<h2>0 Contributors</h2>-->
      <!--</div>-->
    <!--</div>-->

    <ion-content class="back-ground">
      <ion-list>
        <div class="list card">

          <div class="item">
            <h2>Repositories</h2>
          </div>

          <div class="item item-body" ng-repeat="repo in repositories" ng-if="title == 'GitHub'" ui-sref="repo-github({repo_name: repo.name})">
            <button class="button button-clear delete-button" ng-click="deleteRepo($index, $event, repo)"><i class="icon ion-ios-trash"></i></button>
            <h2>{{repo.name}}</h2>
            <p>
              <a href="#" class="subdued">{{repo.forks}} Forks</a>
              <a href="#" class="subdued">{{repo.watchers}} Watches</a>
            </p>
          </div>
          <div class="item item-body" ng-repeat="repo in repositories" ng-if="title == 'GitLab'" ui-sref="repo-gitlab({rid: repo.id})">
            <button class="button button-clear delete-button" ng-click="deleteRepo($index, $event, repo)"><i class="icon ion-ios-trash"></i></button>
            <h2>{{repo.name}}</h2>
            <p>
              <a href="#" class="subdued">{{repo.forks}} Forks</a>
              <a href="#" class="subdued">{{repo.watchers}} Watches</a>
            </p>
          </div>
        </div>

      </ion-list>

    </ion-content>
    <script id="add-reo-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Add Repository</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Repository Name</span>
              <input ng-model="repo.name" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Description</span>
              <input ng-model="repo.description" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="addRepo(repo)">Add</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-view>
</ion-pane>
