<ion-view view-title="GitLab" id="common-view">
  <button class="button ion-android-arrow-back button-large button-clear button-dark no-animation"
          ng-click="goTo('landingPage')"></button>
  <div class="social-login-div">
    <img class="logo" src="img/gitlab-logo.png" width="70%">
    <div class="social-login-header-container">
      <h3>Login to GitLab</h3>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password">
        </label>
      </div>
      <button class="button button-dark"
              ng-click="goTo('landingPage')" style="width: 33%">
        Login
      </button>
    </div>

  </div>
</ion-view>
