<ion-view view-title="GitHub" id="common-view">
  <button class="button ion-android-arrow-back button-large button-clear button-dark no-animation"
          ng-click="goTo('landingPage')"></button>
  <div class="social-login-div">
    <img class="logo" src="img/GitHub-Icon-01.png" width="70%">
    <div class="social-login-header-container">
      <h3>Login to GitHub</h3>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="github.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="github.password">
        </label>
      </div>
      <button class="button button-dark"
              ng-click="githubLogin()" style="width: 33%">
        Login
      </button>
    </div>

  </div>
</ion-view>
