<ion-pane xmlns="http://www.w3.org/1999/html">
  <ion-view title="{{user.firstname+ ' ' +user.lastname}}" id="profile-view">
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item"
                ng-click="goTo('home');">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button back-button buttons button-clear header-item" ng-click="">
          <i class="icon ion-edit"></i>
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content class="dark-text">
      <div class="card profile-card">
        <div class="item">
          <img class="profile-img" ng-src="img/people.png">
          <div class="profile-head">
            <h3>{{user.firstname+ ' ' +user.lastname}}</h3>
            <h4> {{user.username}}</h4>
          </div>
        </div>
      </div>
      <h3 class="padding profle-acc"> Accounts </h3>
      <div class="list">

        <a class="item item-thumbnail-left" ui-sref="gitlabLogin">
          <img src="img/gitlab-logo.png">
          <h2> Synced </h2>
        </a>
        <a class="item item-thumbnail-left" ui-sref="githubLogin">
          <img src="img/github-logo.png">
          <h2> Synced </h2>
        </a>
      </div>
    </ion-content>

  </ion-view>
</ion-pane>
