<ion-view view-title="Repox" id="landing-view">
  <div class="landing-div">
    <img class="logo" src="http://code.ionicframework.com/assets/img/app_icon.png">
    <div class="header-container">
      <h3>Welcome to RepoX</h3>
      <p>Track your repositories and buckets of Version Controlling System and Amazaon </p>
    </div>
      <button class="button button-calm started-btn" ng-click="goTo()">
        Get Started
      </button>
      <button class="button button-positive login-btn" ng-click="goTo('login')">
        Login
      </button>
      <button class="button button-assertive signup-btn" ng-click="goTo('signup')">
        Sigup
      </button>
  </div>
</ion-view>
