#all-repo .item h2{
  font-size: 20px;
}
#all-repo h3{
  color: black;
}
#all-repo .delete-button{
  float: right;
  margin-top: 18px;
  min-width: 0px;
  min-height: 0px;
  color: red;
}
#all-repo .item-body{
  padding-top: 0px !important;
}
