#all-repo .desc-padding{
  padding-left: 40px;
}

#all-repo .size-avatar{
  width: 72px;
  height: 72px;
  max-width: 72px;
  max-height: 72px;
  border-radius: 50%;
  margin-right: 15px;
  float: left;
}

#all-repo .profile-name{
  font-size: 25px;
}

#all-repo .top-44{
  margin-top: 44px;
}

#all-repo .top-105{
  margin-top: 112px;
}
