#profile-view h3{
  font-size: 22px;
}
#profile-view h4{
  color: white;
  font-size: 18px;
}
#profile-view .profile-img{
  margin-left: 30%;
}
#profile-view .profile-card{
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #444;
}
#profile-view .profile-card .item{
  background-color: transparent;
}
#profile-view .profile-head{
  text-align: center;
}
#profile-view .profle-acc{
  color: black;
}
#profile-view .item h2{
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}
#profile-view .item-thumbnail-left, .item-thumbnail-left .item-content {
  padding-top: 16px;
  padding-left: 60px;
}
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
  left: 20%;
}

#profile-view .size-avatar{
  width: 72px;
  height: 72px;
  max-width: 72px;
  max-height: 72px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  position: static;
}

#profile-view .size-avatar-head{
  width: 72px;
  height: 72px;
  max-width: 72px;
  max-height: 72px;
  border-radius: 50%;
  display: block;
}

#profile-view .size-avatar-head{
  width: 72px;
  height: 72px;
  max-width: 72px;
  max-height: 72px;
  border-radius: 50%;
}

#profile-view  .vertical-divider{
  border-left: 2.5px solid #9e9e9e;
  width: 65%;
  position: absolute;
  padding-left: 8px;
  left: 100px;
  top: 10px;
}

#profile-view .container-header-height{
  height: 115px;
}

#profile-view .card-block{
  min-height: 100px;
  border: white;
  display: block;
  padding: 0;
}

#profile-view .sync-repo{
  text-align: center;
}

